/* ===== CONTENEDOR PRINCIPAL ===== */
.contenedorMover {
    padding: 30px 16px;
    max-width: 600px;
    margin: 0 auto;
}

.infoProducto__titulo {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 700;
    color: #000000;
}

.infoProducto {
    background: #FFFFFF;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.infoProducto__texto {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
    line-height: 1.6;
}

.infoProducto__nombre {
    font-weight: 700;
    color: #000000;
}

/* ===== LISTA DE OPCIONES ===== */
.listaOpciones {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 24px;
}

.opciones{
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 16px;
    background: #EAE8E8;
    border: 2px solid #A29595;
    border-radius: 12px;
    transition: all 0.2s ease;
}

.opciones:hover{
    transform: translateX(4px);
    box-shadow: 0 2px 8px rgba(46, 204, 113, 0.2);
}

.opciones:has(.opcion__input:checked){
    background: #E8F5E9;
    border-color: #2ECC71;
}

.opciones:has(.opcion__input:checked) .opcion__circulo{
    border-color: #2ECC71;
}

.opcion__label {
    display: flex;
    align-items: center;
    gap: 14px;
    width: 100%;
    cursor: pointer;
}

.opcion__input {
    display: none;
}

.opcion__circulo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #A29595;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.opcion__circulo::after {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2ECC71;
    transform: scale(0);
    transition: transform 0.2s ease;
}

.opcion__input:checked + .opcion__circulo::after{
    transform: scale(3);
}

.opcion__info {
    flex: 1;    
}

.opcion__nombre{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 2px;
}

.consejo {
    background: #FFF3E0;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 24px;
}

.consejo__titulo {
    font-size: 14px;
    font-weight: 700;
    color: #C16F04;
    margin-bottom: 8px;
}

.consejo__descripcion {
    font-size: 13px;
    font-weight: 400;
    color: #C16F04;
    line-height: 1.5;
}

/* ===== ACCIONES ===== */
.acciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton {
    width: 35%;
}

/* ===== Media Queries ===== */
@media (min-width: 768px) {
    .acciones {
        flex-direction: row;
    }

    .boton {
        flex: 1;
    }
}