.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 50px 20px;
    gap: 12px;
    margin-top: 20px;
    box-shadow: none;
}

.encabezado__contenedor {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.encabezado__imagen {
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
}

.encabezado__titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.encabezado__contenido {
    margin-top: 5px;
    text-align: center;
    background: transparent;
}

.encabezado__descripcion {
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}

.finanzas {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjetaAccion {
    width: 95%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

.tarjetaAccion--azul {
    border-top: 8px solid #1E88E5;
}

.tarjetaAccion--verde {
    border-top: 8px solid #12BA3C;
}

.tarjetaAccion--rojo {
    border-top: 8px solid #E51E1E;
}

.tarjetaAccion--morado {
    border-top: 8px solid #9400CE;
}

.tarjetaAccion__encabezado {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 12px;
}

.tarjetaAccion__icono {
    width: 50px;
    height: 50px;
    padding: 8px;
    background: #E3F2FD;
    border-radius: 50%;
    flex-shrink: 0;
}

.tarjetaAccion__icono--verde {
    background: #E8F5E9;
}

.tarjetaAccion__icono--rojo {
    background: #FFEBEE;
}

.tarjetaAccion__icono--morado {
    background: #F3E5F5;
}

.tarjetaAccion__contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.tarjetaAccion__titulo {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.tarjetaAccion__subtitulo {
    margin-top: 5px;
    font-size: 16px;
    color: #757575;
}

.boton {
    padding: 15px 25px;
    border-radius: 20px;
    font-size: 12px;
}

.finanzas__boton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton--editar{
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.boton--agregar{
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.boton--Eliminar{
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.boton--resumen{
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.boton--volver {
    width: 50%;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 14px;
}
