/*Header*/
.encabezado {
    height: var(--registro-encabezado-h);
    padding: var(--registro-encabezado-padding);
}

.encabezado .material-symbols-outlined {
    font-size: var(--registro-encabezado-size);
}

/*Contenedor*/
.contenedor {
    width: var(--registro-contenedor-w);
    max-width: var(--registro-contenedor-max-w);
    padding: var(--registro-contenedor-padding);
    margin: 0 auto;
}

/*contenido*/
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--registro-contenido-min-h);
    padding: var(--registro-contenido-padding);
}

.contenido__titulo {
    text-align: center;
    font-size: var(--registro-titulo-size);
    font-weight: bold;
    margin-top: var(--registro-contenidoTitulo-margin-top);
    margin-bottom: var(--registro-titulo-margin);
}

/*formulario*/
.contenido__formulario {
    display: flex;
    flex-direction: column;
    width: var(--registro-formulario-w);
    gap: var(--registro-gap-formulario);
}

.contenido__grupo {
    width: var(--registro-contenidoGrupo-w);
}

.contenido__grupo a{
    text-decoration: none;
}

.contenido__label{
    font-size: var(--registro-label-size);
    font-weight: 600; 
    display: block;
    margin-bottom: var(--registro-label-margin-bottom);
}

.contenido__input{
    width: var(--registro-input-w);
    height: var(--registro-input-h);
    padding: var(--registro-input-padding);
    border-radius: var(--registro-radio-borde);
    border: var(--registro-input-border);
    background-color: var(--registro-input-bg);
    font-size: var(--registro-input-size);
    margin-bottom: var(--registro-input-margin-bottom);
}

input::placeholder {
    padding-left: var(--registro-placeholder-padding);
    color: var(--registro-placeholder);
}

input:focus {
    outline: none; 
    background-color: white;
    border: var(--registro-input-border-focus); 
}

.boton {
    width: var(--registro-boton-w);
    font-size: var(--registro-boton-size);
    padding: var(--registro-boton-padding);
    margin: 0 auto;
    margin-top: var(--registro-boton-margin-top);
    margin-bottom: var(--registro-boton-margin-bottom);
    display: block;
}

.encabezado{
    background-color: transparent;
    box-shadow: none;
}
/* ========================== Media queries ========================== */
/* PANTALLAS MEDIANAS */
@media (min-width: 768px) and (max-width: 1200px){
    .encabezado {
        height: 10vh;
        padding: 2vh 3vw;
    }

    .encabezado .material-symbols-outlined {
        font-size: 5vh;
    }

    .contenedor {
        width: 80%;
        max-width: 400px;
        padding: 30px 32px;
        margin: 0 auto;
    }

    .contenido__titulo {
        margin-top: 0;
        font-size: 2rem;
    }

    .contenido__formulario {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

    .contenido__grupo {
        width: 100%;
    }

    .contenido__label{
        font-size: 1rem;
    }

    .contenido__input {
        padding: 1.2rem 0.5rem;
        font-size: 1rem;
        width: 100%;
    }

    .boton {
        width: 100%;
        font-size: 1rem;
        padding: 1rem 1rem;
        margin-bottom: 0;
    }
}
/* PANTALLAS GRANDES */
@media (min-width: 1200px){

    .encabezado {
        height: 10vh;
        padding: 2.2vh 2.6vw;
    }

    .encabezado .material-symbols-outlined {
        font-size: 6vh;
    }

    .contenedor {
        width: 100%;
        max-width: 450px;  
        margin: 0 auto;         
        padding: 40px 35px;    
    }

    .contenido__titulo {
        margin-top: 0;
        font-size: 2.2rem;   
        text-align: center;  
    }

    .contenido__formulario {
        width: 100%;
        max-width: 400px; 
        margin: 0 auto;
        gap: 1.3rem;
    }

    .contenido__grupo {
        width: 100%;
    }

    .contenido__label {
        font-size: 1.1rem;  
        margin-bottom: 1rem;  
    }

    .contenido__input {
        width: 100%;
        font-size: 1.1rem;
        padding: 1.2rem 0.5rem;  
        border-radius: 10px;
        border: 3px solid #000;
    }

    input:focus {
        border: 3px solid #2a9d8f;
    }

    .boton {
        width: 99%;
        font-size: 1.1rem;   
        padding: 1rem 1rem;
        margin-bottom: 0;
        border-radius: 12px;
        cursor: pointer;
    }

    .boton--registrar:hover {
        border: 4px solid #1E88E5;
    }
}