.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 50px 20px;
    gap: 12px;
    margin-top: 90px;
    box-shadow: none;
}

.encabezado__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.encabezado__imagen {
    width: 5rem;
    height: 5rem;
    border-radius: 8px;
}

.encabezado__titulo {
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.encabezado__contenido{
    width: 100%;
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.50);
}

.encabezado__descripcion{
    text-align: justify;
    font-size: 16px;
    color: #000000;
    line-height: 1.5;
}

.notiresumen{
    position: relative;
    width: 100%;
    z-index: 1;
    min-height: 100vh;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notiresumen__filtros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 25px;
    gap: 10px;
}

.notiresumen__filtro{
    font-size: 16px;
    background-color: #F1BA84;
    color: #A05B01;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
    padding: 10px 20px;
    border-radius: 25px;
}

.notiresumen__filtro--activo{
    background-color: #FFFFFF;
    color: #FF9810;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}

.notiresumen__filtro:hover{
    font-size: 14px;
    padding: 15px 25px;
    background-color: #FF9810;
    color: #FFFFFF;
}

.notiresumen__card{
    width: 95%;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.30);
}
.notiresumen__card--naranja{
    border-left: 5px solid #FF9810;
}

.notiresumen__card--rojo{
    border-left: 5px solid #E51E1E;
}

.notiresumen__card--verde{
    border-left: 5px solid #12BA3C;
}

.notiresumen__card--azul{
    border-left: 5px solid #1E88E5;
}

.notiresumen__card--morado{
    display: flex;
    justify-content: space-between;     
    border-left: 5px solid #9400CE;
}

.notiresumen__card-encabezado{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.notiresumen__icono{
    width: 70px;
    height: 70px;
    padding: 8px;
    border-radius: 50%;
}

.notiresumen__texto{
    display: flex;
    flex-direction: column;
}

.notiresumen__titulo{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
}

.notiresumen__subtitulo{
    margin-top: 5px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 12px;
}

.notiresumen__tiempo{
    font-size: 15px;
    color: #999191;
}

.notiresumen__boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton--volver{
    width: 30%;
}

.notiresumen__contenido{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    min-height: 130vh;
    background-color: rgba(0,0,0,0.30);
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    padding-top: 20px;
}

.notiresumen__opcion{
    display: flex;
    align-items: center;
    left: 90%;
    gap: 10px;
    padding: 12px 15px;
    margin-right: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.30);
    z-index: 3;
}

.notiresumen__link{
    display: flex;
    align-items: center;
    gap: 7px;
    color: black;
    pointer-events: auto; 
    text-decoration: none;
}