.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    min-height: calc(100vh - 80px);
}

.contenido__pregunta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    gap: 15px;
}

.contenido__pregunta-imagen {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.contenido__pregunta-texto {
    text-align: center; 
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #000000;
    margin: 0;
}

.contenido__detalle {
    font-size: 18px;
    line-height: 1.6;
    color: #333333;
    margin-bottom: 40px;
}

.contenido__detalle-parrafo {
    margin-bottom: 15px;
}

.contenido__detalle-lista {
    margin-left: 50px;
    margin-bottom: 20px;
}

.contenido__detalle-item {
    margin-bottom: 10px;
}

.contenido__boton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido__boton .boton{
    width: 20vw;
    padding: 10px 25px;
}

.contenido__boton-enlace {
    text-decoration: none;
}


