.contenedor {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: var(--contenedor-width);
    max-width: var(--contenedor-max-width);
    border-radius: var(--contenedor-radius);
    box-shadow: var(--contenedor-shadow);
    padding: var(--contenedor-padding);
    background: var(--contenedor-gradient-bg); 
}