.consultarFacturas {
    padding: 20px;
    padding-bottom: 80px;
}

.consultarFacturas__busqueda {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.consultarFacturas__busqueda-input {
    width: 40%;
    padding: 12px 20px;
    border: 2px solid #E0E0E0;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.consultarFacturas__busqueda-input:focus {
    border-color: #2196F3;
}

.facturaLista {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.facturaCard {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.30);
    display: flex;
    gap: 12px;
    position: relative;
}

.facturaCard__borde {
    width: 4px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.facturaCard--verde .facturaCard__borde  {
    background: #2ECC71;
}

.facturaCard__contenido {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 8px;
}

.facturaCard__encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.facturaCard__titulo  {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}

.facturaCard__detalles {
    font-size: 13px;
    color: #757575;
    margin-bottom: 10px;
}

.facturaCard__etiqueta {
    width: auto;
    padding: 7px 25px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facturaCard__etiqueta--pagada {
    background: #2ECC71;
    color: #ffffff;
}

.totalPagado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1E88E5;
    border-radius: 16px;
    padding: 20px;
    text-align: left;
}

.totalPagado__titulo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-left: 15px;
    margin-bottom: 10px;
}

.totalPagado__monto {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 10px;
    margin-left: 35px;
}

.boton {
    padding: 8px 16px;
    font-size: 12px;
}

.consultarFacturas__boton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.boton--registrar{
    width: 40%;
    padding: 20px;
    font-size: 20px;
}

.boton--volver {
    width: 40%;
    padding: 20px;
    font-size: 20px;
}