/*contenedor principal o Main */
.contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80vh;
    padding: 20px;
}

.contenedor{
    width: 100%;
    max-width: 450px;
    padding: 50px;
}

/* Título */
.contenido__titulo {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem; 
    color: #000;
}

.contenido__parrafo{
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.boton {
    width: 100%;
    padding: 1rem 5rem;
    font-size: 20px;         
}

.contenido__icono-img{
    width: 40%;
    margin-bottom: 20px;
}